@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  background-image: url("/lilogo.png");
  height: 500px;
  width: 100%;
  background-size: contain;
  background-position: center;
  display: flex;
  background-repeat:no-repeat;
  background-color:white;
}

.wave {
  position: absolute;
  top: 520px;
  width: 2000px;
  height: 1000px;
  /* Adjust if necessary to fit your design */
}

.storehome {
  background: rgb(91, 113, 199);
  background: linear-gradient(
    180deg,
    rgba(29, 91, 121, 1) 0%,
    rgba(255, 255, 255, 1) 86%
  );
}

.handcraftheadline {
  color: #eb8334;
}

.servicectacontainer {
  height: 170px;
  width: 900px;
}

.topimage {
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gradient-overlay {
width:100%;
height:100%;
border-radius: 20px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
.gridbackground{
    background-image: url("/lsstock2.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
 
}

.gridheadline{
  z-index: 10;  
}

/* BackgroundCutout.css */
.background-cutout {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust as needed */
}

.fixed-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  top: 0;
  left: 0;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  width:100vw;
}
nav{
  background-color:white;
  z-index:100;
}
.paracontainer{
  height:700px;
}

.shredwrapper {
  height:500px;
  width:auto;
  background-size:cover;
}
.cleanwrapper{
  height:500px;
  width:auto;
  background-position:center;
  background-size:cover;
  
}

.waver{
   position: absolute;
  top: 300px;
  width: 2000px;
  height: 1000px;
}
.headers{

  height: 600px;
  width: 100%;
  background-size: cover;
  display: flex;
  background-position: bottom;

}
.headerscontainer{
  background-image:url('/headerpic.jpg');
  background-size:cover;
  height:700px;
  padding-top:200px;

}

.homeheaderscontainer{
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2)), url('/headerpic.jpg');
  background-size:cover;
  height:800px;
  padding-top:30px;

    height: 800px;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: bottom;
}
.headers{
 
    width: 100%; /* Adjust based on your needs */
    margin-top: auto; /* Pushes it to the bottom if needed */

  background-image:url('/layers.png');
}
.lakerhead{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }

  .bluewrapper{
    background-color:rgba(29, 91, 121, 1);
  }

  .headerstwo{
    background-image:url('/layers.png');
    height: 400px;
    width: 100%;
    background-size: cover;
    display: flex;
    background-position: bottom;
  }
@media screen and (max-width: 1000px) {

  .homewrapper{
    width:1000px;

  }
  .content{
    width:1000px;
    overflow-x:hidden;

  }
  
  .footer{
    padding-bottom:100px;
    width:100%;
    overflow-x:hidden;
    margin-top:00px;

  }
  .background-cutout{
  height:1000px; 
  
}

.paracontainer{
  padding-bottom:100px;
  height: 100vh;
  overflow: auto;
}
.aboutcontainer {
  width:100vw;
  overflow-x: hidden;
}
}
