@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  background-image: url("/lsstock2.jpg");
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.header > div {
  position: absolute;
top:200px;
  width: 100%;
  /* Adjust if necessary to fit your design */
}
